html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #E9F1FA;
    /*background-color: #C5ADC5;*/
    margin-bottom: 60px;
}

header {
    background-color: #00ABE4;
    /*background-color: #B2B5E0;*/
}

.card-img-overlay {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-position {
    background-color: #0684aee2;
    height: 5rem;
    /*top: 30%;
    transform: translateY(-50%);*/
}


