
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-10 col-sm-6 text-center">
                <div class="mb-3">
                    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Home Page</a>
                </div>
                <div>
                    <img src="~/Images/error401.jpg" alt="Alternative image" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</div>
