
<br />

<h4 class="text-center mb-4">Oops! Something went wrong with your request...</h4>
<h4 class="text-center mb-4">Please contact with support!</h4>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-10 col-sm-6 text-center">
                <div>
                    <img src="~/Images/GeneralError.jpg" alt="Alternative image" class="img-thumbnail">
                </div>
                <div class="mt-3">
                    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
