@model LandingPageModel
@{
    ViewBag.Title = "Welcome to SaraDog Petshop! Happy Shopping!";
}

<link rel="stylesheet" href="~/css/landingPage.css" asp-append-version="true" />

<div class="landing-page-container">
    <div class="landing-page-overlay"></div>
    <div class="landing-page">
        <img src="~/Images/@Model.LandingImage" class="background-image" alt="Landing Image">
        <div class="content">
            <h1>Welcome to SaraDog Petshop!</h1>
            <h1>Happy Shopping!</h1>
            @if (!this.User.Identity?.IsAuthenticated ?? false)
            {
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-primary mt-3" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                </div>
            }
            <br />
            <br />
            <a href="@Url.Action("All", "Item")" class="btn btn-warning btn-outline-dark btn-lg">Products</a>
        </div>
    </div>
</div>