@using PetShop.Services.Data.Interfaces;
@using PetShop.Web.Infrastructure.Extensions;

@model ItemIndexViewModel


@inject IItemService ItemService
@{
    bool isAlreadyAdded = ItemService.IsAlreadyAddedAsync(this.User.GetId()!, Model.Id);
}

<div class="col-md-3">
    <div class="card mb-3">
        <img class="card-img-top" src="~/Images/@Model.Image" alt="Item Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <p class="mb-3 h5">Price: $@Model.Price</p>
            <div class="d-flex justify-content-center">
                <form asp-controller="Item" asp-action="Favourites" asp-route-id="@Model.Id" method="post" class="me-2 mb-2">
                    @if (!isAlreadyAdded)
                    {
                        <button type="submit" class="btn btn-sm ms-2">
                            <i class="far fa-heart custom-icon" style="color: #ff0000;"></i>
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-sm ms-2">
                            <i class="fas fa-heart custom-icon" style="color: #ff0000;"></i>
                        </button>
                    }
                </form>

                <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id"
                   class="btn btn-success mb-2">Details</a>

                <form asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" method="post" class="mb-2">
                    <button type="submit" class="btn btn-sm ms-2"><i class="fas fa-cart-plus custom-icon" style="color: #234476"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>