@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            @*<li class="nav-item me-2">
                <a class="nav-link btn btn-outline-warning text-black" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin Panel</a>
            </li>*@
            <li>
                <div class="dropdown">
                    <button class="nav-link btn btn-outline-warning text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin Panel
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Items">Products</a></li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Categories">Categories</a></li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Users">Users</a></li>
                    </ul>
                </div>
            </li>
        }
        <li>
            <div>
                <a class="btn" asp-area="" asp-controller="Cart" asp-action="Cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                        <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a class="btn" asp-controller="Item" asp-action="Favourites">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="#d10000" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <div class="dropdown me-3">
                <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Details">Profile</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Order" asp-action="OrderHistory">Order History</a></li>
                </ul>
            </div>

        </li>
        <li class="nav-item me-3">
            <form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-outline-warning text-black">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
