@model IEnumerable<CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-3 mb-2">
                <a asp-controller="Category" asp-action="CategoryItems" asp-route-id="@category.Id" class="card-link">
                    <div class="card position-relative">
                        <div class="card-img-container">
                            <img src="~/Images/@category.Image" alt="Item Image" class="card-img border border-info">
                        </div>
                        <div class="card-img-overlay card-img-position d-flex align-items-center justify-content-center">
                            <h4 class="card-title text-white text-center">@category.Name</h4>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>




