
<div class="d-flex justify-content-center align-items-center" style="height: 40vh; color:#25518d">
        <h1 class="text-center">Your Order is Successfully Confirmed and will be sent to you as soon as possible!</h1>
</div>
<br />
<div class="d-flex justify-content-center align-items-center" style="color:#25518d">
    <h1 class="text-center">Thank you for being our client!</h1>
</div>
